.advert_li {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 15px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #990a0a;
  border-radius: 10px;
  width: 1000px;
}
.advert_li h3 {
  font-size: large;
  font-weight: bold;
  color: blue;
}

.advert_ul {
  display: flex;
  flex-direction: column; /* Asegura que los elementos estén en columna */
  align-items: center; /* Centra los elementos horizontalmente */
  text-align: center;
}
