form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  max-width: 500px;
  padding: 1rem;
  border: 0.5px solid #625f5f;
  border-radius: 4px;
  background-color: #e9e0e0;
}

form input {
  width: 70%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #000000;
  border-radius: 4px;
}

.checkbox-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px; /* Espacio entre el checkbox y el texto */
}

.checkbox-label input {
  width: 16px;
  height: 16px;
}
